<div class="px-6 py-10 flex items-center justify-center bg-black" style="min-height: 80vh">
  <h2 class="text-white text-center text-6xl font-black max-w-screen-sm">A learning space without borders</h2>
<div>
