<div class="px-6 py-10 flex items-center justify-center home-cover bg-center bg-cover" style="min-height: calc(100vh - 80px);background-image: url('<%= image_url("night-sky.jpg") %>')">
  <div class="text-center">
    <h1 class="text-center text-6xl mb-3 font-bold text-white max-w-screen-l leading-tight">Learning space without borders</h1>
    <h2 class="text-center text-3xl text-white max-w-screen-l leading-tight mb-10">Manage your students, sesions, attendance and evaluations</h2>
    <div><a href="/users/sign_up" class="btn btn-white text-purple py-4 px-6 text-2xl">Create your account</a></div>
  </div>
<div>
