<div class="px-6 py-10" style="background-color: #1D2423">
  <h2 class="text-white text-6xl">A learning space without borders</h2>
  <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Download</a>
    </div>
  
<div>
