@import "tailwindcss/base";
body {
  @apply text-black;
}
a {
  @apply text-blue-700;
}
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  display: inline-block;
  border: .15em solid rgba(0, 0, 0, 0.1);
  border-left-color: white;
  border-radius: 50%;
  animation: donut-spin 1.1s linear infinite;
  transform: translateY(0);
}
.btn {
  @apply font-bold py-3 px-4 rounded-xlg;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.form-field {
  @apply py-5;
}
.text-field {
  @apply bg-white border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal;
}
.text-field:focus {
  @apply outline-none shadow-outline;
}
@import "tailwindcss/components";
@import "tailwindcss/utilities";