@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@300;400;600&display=swap');
html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit;
  -moz-font-smoothing: inherit;
  -webkit-tap-highlight-color: transparent;
}

@import "tailwindcss/base";

body {
  @apply text-black;
  font-family: 'Poppins', sans-serif;
}

a {
  @apply text-blue-700;
}

.js-flash-msg {
  transition: 0.3s ease-out;
  opacity: 1;
  transform: scale3d(1,1,1);
}

.js-flash-msg--fade-off {
  opacity: 0;
  transform: scale3d(0,0,0);
}

@import "./utilities/loading_spinner";
@import "./components/buttons";
@import "./components/forms";
@import "./components/text_fields";
@import "./components/selects";
@import "./components/data_tables";
@import "./components/avatar";
@import "./components/modals";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
