-# = form_for @course do |f|
-#   - if @course.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@course.errors.size, "error")} prohibited this course from being saved:"
-#       %ul
-#         - @course.errors.full_messages.each do |msg|
-#           %li= msg

-#   .form-field
-#     = f.label :name
-#     .field
-#       = f.text_field :name, class: "text-field"

-#   .form-field
-#     = f.label :description
-#     .field
-#       = f.text_area :description, class: "text-field"
  
-#   .form-field
-#     = f.label :primary_objectives
-#     .field
-#       = f.text_area :primary_objectives, class: "text-field"

  -# .form-field
  -#   = f.label :secondary_objectives
  -#   .field
  -#     = f.text_area :secondary_objectives, class: "text-field"
  
  -# .form-field
  -#   = f.label :sessions_amount
  -#   .field
  -#     = f.text_area :sessions_amount, class: "text-field"
  
  -# .form-fields
  -#   = f.label :price
  -#   .field
  -#     = f.text_field :price, class: "text-field"
  
  -# .form-fields
  -#   = f.label :students_quota
  -#   .field
  -#     = f.text_field :students_quota, class: "text-field"
  
  -# .form-fields
  -#   = f.label :category_id, 'Category'
  -#   = f.select(:category_id, options_for_select(Category.all.map{ |c| [c.name.titleize, c.id] }, { selected: @course.category_id }))


  -# .form-field
  -#   = f.submit 'Save', class: "btn-blue btn"

- content_for :packs do
  = javascript_pack_tag 'create_course', 'data-turbolinks-track': 'reload'
#create-course
